<ion-header>
  <ion-toolbar>
    <!--
    <ion-buttons slot="start">
      <ion-button class="btn-logo" >
        <img src="/assets/icon/rickandmortyapi.6317cbb3.jpg" alt="Logo" class="logo-title">
      </ion-button>
    </ion-buttons>-->
    <ion-buttons slot="end">
      <ion-button>Docs</ion-button>
      <ion-button>About</ion-button>
      <ion-button class="btn-support" >Support Us</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <div class="hero-section">
    <h1>The Rick and Morty API</h1>
  </div>
</ion-content>