.character-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px; // Padding uniforme en la card
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  background: #000000;

}

.character-image {
  width: 100%;
  max-width: 250px;
  height: 250px;
  border-radius: 50%;
}

.highlight {
  font-weight: bold;
  color: #007aff;
}

.favorite-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.favorite-button {
  font-size: 24px;
  --padding-start: 0;
  --padding-end: 0;
  color: #dadada;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }
}

.favorite-icon {
  font-size: 28px;
  transition: color 0.3s ease-in-out;

  &.active {
    color: #ff4757;
  }
}
