<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Rick y Morty
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Header adicional colapsable -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rick y Morty</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Componentes personalizados -->
  <app-header></app-header>

  <!-- Contenido principal -->
  <div class="container">
    <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
  </div>

  <app-footer></app-footer>
</ion-content>
