<ion-content>
  <app-header></app-header>
  
  <div class="info">
    <h1>List of episodes</h1>
  </div>
  <div class="grid-container">
    <ion-grid>
      <ion-row class="custom-row">
        <ion-col size="auto" *ngFor="let episode of episodes">
          <app-card 
            [title]="episode.name" 
            [subtitle]="episode.air_date" 
            [description]="episode.episode" 
            [image]="episode.image_url || 'https://repository-images.githubusercontent.com/120371205/b6740400-92d4-11ea-8a13-d5f6e0558e9b'"            
            (click)="openModal(episode.characters)"> 
          </app-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-infinite-scroll (ionInfinite)="loadEpisodes($event)">
    <ion-infinite-scroll-content loadingText="Cargando más episodios..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <app-footer></app-footer>
</ion-content>
